<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PiBackup</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="content">
      <h1>Welcome to PiBackup</h1>
      <p id="uuid-desc"></p>
      <div class="chosenImages currentImages"></div>
      <p id="last-image-date"></p>
      <div class="separator"></div>
      <div class="chosenImages"></div>
      <form onsubmit="uploadFiles(this, event)">
        <label for="imageInput" id="imagePicker" class="darken"
          >Select images</label
        >
        <input
          type="file"
          accept="image/*"
          name="photo"
          id="imageInput"
          multiple
        />

        <button id="uploadButton" class="darken">Upload</button>
      </form>
    </div>
    <div id="imagePopUp">
      <div id="progress-bar"></div>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
  </body>
</html>
